@using IngresoDinero.Helpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comisión Inmobiliaria</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="@Url.VersionedContent("~/Content/main.css")" />
</head>
<body>
    <h3 class="text-center text-muted font-weight-bold mt-3">Lo sentimos</h3>
    <h5 class="text-center font-weight-bold">Ingreso de Dinero solo es accesible para usuarios autorizados.</h5>
</body>
</html>
